%clearfix {
  zoom: 1;
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.content {
  position: relative;
  @extend %clearfix;
}


// Responsive containers
.container-4x3 {
  height: 0;
  padding-top: 60%;
  width: 100%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Background images
.bg-image {
  display: block;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &.aspect-1x1 {
    padding-top: 100%;
  }
  &.aspect-4x3 {
    padding-top: 75%;
  }
  &.aspect-16x9 {
    padding-top: 56.25%;
  }
}

// Sticky behavior
.sticky {
  position: sticky;
  top: 0;
}