@charset 'utf-8';
@import "settings";
@import "./node_modules/bootstrap/scss/bootstrap";

@import 'mixins';
@import 'utilities';


@import 'global/base';
@import 'global/fonts';
@import 'global/typography';
@import 'global/animations';

@import 'layout/page_header';
@import 'layout/page_content';
@import 'layout/page_footer';

